<section class="form">
    <div class="form__info">
        <p class="form__number">// 01. //</p>
        <h2 class="form__title">Order & Delivery</h2>
        <p class="form__notification">Please read this section before placing an order.</p>
        <div class="form__links">
            <a href="#" class="link">TERMS & CONDITIONS</a>
            <a href="#" class="link">PRIVACY POLICY</a>
            <a href="#" class="link">CUSTOMERS</a>
            <a href="#" class="link">SUPPORT</a>
            <a href="#" class="link">FAQ</a>
        </div>
        <p class="form__description">We strive to provide the best possible service to our clients and process all your
            orders as quickly as possible. By purchasing furniture online, you automatically agree to the following
            terms:</p>
        <div class="form__rules">
            <ol class="rules__list">
                <li class="rules__list-item">All orders placed on this website must be paid in full before they will be
                    shipped by our company or our partners.</li>
                <li class="rules__list-item">All items must be inspected upon delivery and any damages must be reported
                    to the seller immediately.</li>
                <li class="rules__list-item">The seller reserves the right to cancel any order due to payment issues or
                    other unforeseen circumstances.</li>
            </ol>
        </div>
        <p class="form__contact">f you have any questions, you can ask our specialists. To do this, fill out the contact
            form and type your question. Representatives of the company will provide an answer as soon as possible.
            Also, you can contact us in any other convenient way.</p>
    </div>
    <div class="form__user-info">
        <form action="submit" class="user-info__form">
            <input type="text" class="user-info__name">
            <input type="number" class="user-info__phone-number">
            <input type="email" class="user-info__email">
            <input tupe="text" class="user-info__message">
        </form>
    </div>
</section>